<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
          margin-top: 125px;
          margin-right: 25px;
          margin-bottom: 25px;
          margin-left: 250px;
        }
        .formAdd {
          max-width: 385px;
        }
    </style>
</head>
<body>
  <div>
    <% include navbar.ejs %>
    <% include sidebar.ejs %>

    <h1>Add an animal</h1>

    <form class="formAdd" action="" method="post">
      <div class="form-group row">
        <label for="dog_name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="dog_name" name="dog_name" placeholder="Enter dog's name" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_age" class="col-2 col-form-label">Age</label>
        <div class="col-10">
          <input class="form-control" type="number" id="dog_age" name="dog_age" min="1" max="30" value="1" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_description" class="col-2 col-form-label">Description</label>
        <div class="col-10">
          <input class="form-control" type="text" id="dog_description" name="dog_description" placeholder="Enter dog's description" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_weight" class="col-2 col-form-label">Weight (lbs)</label>
        <div class="col-10">
          <input class="form-control" type="number" id="dog_weight" value="5" name="dog_weight" min="5" max="100" value="1" required="true">
        </div>
      </div>

      <!-- <input type="string" id="owner_email" name="owner_email" value="<%= user.local.email %>" required="true" inactive display="none"> -->

      <button type="submit" class="btn btn-primary">Add Animal</button>
    </form>

  </div>
</body>
</html>
