<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span><img src="img/logo.png" alt="DogUS logo" width="75px"></span> DogUS</h1>
        <br/>
        <a href="/login" class="btn btn-default"><span class="fa fa-user-circle-o"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
