<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <span><img src="../../img/logo.png" alt="DogUS logo" width="50px"><h1>DogUS</h1>

        <h2>A confirmation email was sent to :</h2>
        <br/>
        <h2><%= user_email %></h2>
        <br/>
        <h3>Please follow the link in the email to activate your account</h3>
        <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Back to home page</a>
    </div>

</div>
</body>
</html>
