<head>
  <link rel="stylesheet" type="text/css" href="css/sidebar.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<ul class="goo-collapsible">
	<li class="dropdown"><a class="" href="#">Chien1</a>
    <ul>
      <li><a href="#">text 1</a></li>
      <li><a href="#">text 2</a></li>
      <li><a href="#">text 3</a></li>
		</ul>
	</li>
  <li class="dropdown"><a class="" href="#">Chien2</a>
    <ul>
      <li><a href="#">text 1</a></li>
      <li><a href="#">text 2</a></li>
      <li><a href="#">text 3</a></li>
		</ul>
	</li>
  <li class="dropdown"><a class="" href="#">Chien3</a>
    <ul>
      <li><a href="#">text 1</a></li>
      <li><a href="#">text 2</a></li>
      <li><a href="#">text 3</a></li>
    </ul>
  </li>
  <li><a class="" href="/addanimal">Add Animal + </a>
  </li>

</ul>

<script>
$(".goo-collapsible > li > a").on("click", function(e){

    //if submenu is hidden, does not have active class
	if(!$(this).hasClass("active")) {

    	// hide any open menus and remove active classes
		$(".goo-collapsible li ul").slideUp(350);
		$(".goo-collapsible li a").removeClass("active");

		// open submenu and add the active class
		$(this).next("ul").slideDown(350);
		$(this).addClass("active");

    //if submenu is visible
	}else if($(this).hasClass("active")) {

        //hide submenu and remove active class
		$(this).removeClass("active");
		$(this).next("ul").slideUp(350);
	}
});
</script>
