<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
          margin-top: 125px;
          margin-right: 25px;
          margin-bottom: 25px;
          margin-left: 250px;
        }
    </style>
</head>
<body>
  <div>
    <% include navbar.ejs %>
    <% include sidebar.ejs %>

    <h1>Track your animal with GPS</h1>

    <%= dog_id %>

  </div>
</body>
</html>
