<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <img src="../../img/logo.png" alt="DogUS logo" width="75px">
        <h1>Email has been confirmed</h1>
        <br/>
        <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Go back to home Page</a>
    </div>

</div>
</body>
</html>
